* {
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid black;
  display: flex;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 1025px;
  position: relative;
  width: 100%;
}
nav span {
  font-size: 18px;
  left: 0;
  position: absolute;
}
nav p {
  cursor: pointer;
  margin: 0 40px 0 0px;
  text-decoration: underline;
}
nav p a,
nav p a:visited {
  color: black;
}

.PageWrapper {
  margin: 0 auto;
  max-width: 1025px;
}

.LoginWrapper {
  background-color: #eee;
  font-size: 18px;
  margin: 50px auto;
  max-width: 500px;
  padding: 10px;
  text-align: center;
}
.LoginWrapper p {
  margin: 0px;
}
.LoginWrapper p:first-of-type {
  margin-top: 15px;
}
.LoginWrapper p:last-of-type {
  margin-bottom: 15px;
}
.LoginWrapper a,
.LoginWrapper a:visited {
  color: black;
}

.CreatePostWrapper {
  background-color: #eee;
  border-radius: 20px;
  font-size: 18px;
  margin-top: 50px;
  max-width: 800px;
  padding: 25px 50px;
  text-align: center;
}

.FormElement {
  display: grid;
  grid-template-columns: 10% 30% 50% 10%;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
}
.FormElement label {
  justify-self: left;
  grid-column: 2/3;
  margin: 5px;
  padding: 5px;
}
.FormElement input {
  grid-column: 3/4;
  margin: 5px;
  padding: 5px;
}
.FormElement button {
  border-radius: 10px;
  background-color: lightblue;
  font-size: 18px;
  grid-column: 1/5;
  justify-self: center;
  margin: 5px;
  width: 50%;
}

.PagePostsWrapper {
  display: grid;
  column-gap: 25px;
  grid-template-columns: repeat(auto-fill, 500px);
  justify-items: center;
  row-gap: 25px;
}
.PagePost {
  background-color: #eeeeee;
  border: 1px solid #888888;
  border-radius: 10px;
  max-width: 500px;
  padding: 10px 25px;
  padding-bottom: 50px;
  position: relative;
  width: 100%;
}
.PagePost a,
.PagePost a:visited {
  color: black;
}
.PagePost h1 {
  text-align: center;
}
.PagePost .userInfo {
  bottom: 10px;
  position: absolute;
  right: 25px;
}
